.mainContainer {
    background-color: #616161;
    padding: 10px 0;
}

.mainContainer ul {
    list-style: none;
    display: flex;
}

li {
    margin: 10px;
}

li button {
    background-color: blue;
    border-radius: 10px;
    padding: 10px 20px;
}

li button:hover {
    background-color: blueviolet;
    cursor: pointer;
}